

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
}
body {
    width: 100%;
}
header {
    position: relative;
    background-color: aqua;
    width: 100%;
}

h1, h2 {
    font-family: 'Valera Round', sans-serif;
    font-size: 280%;
}
#logo h1 {
    font-family: 'Dancing Script', cursive;
}
#mobile-button {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: -1;
}
/*
issues: text is for some reason outside of screen */
#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}
#logo, #navbar {
    line-height: 75px;
}
/* makes text on navbar vertically centered */

#pages, #transl {
    margin-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#pages {
    font-size: 110%;
    letter-spacing: 2px;
    width: 300px;
    right: 10px;
}
#transl {
    font-size: 80%;
    right: 300px;
}
#logo {
    margin-left: 30px;
    width: 300px;
}

/* pushes the mobile nav box to the back */

#hidden {
    position: fixed;
    right: -20%;
    height: 100%;
    width: 20%;
    background-color: blueviolet;
}
#hidden li {
    list-style-type: none;
}



/* make site compatible with tablets 
issues: text is not centered
*/

@media only screen and (max-width: 700px) {
    header {
        position: relative;
        top: 0%;
    }
    #mobile-button {
        z-index: 1;
        width: 30px;
        height: 30px;
        right: 20px;
        line-height: 75%;
        text-align-last: center;
        font-size: 20px;
    }
    #logo {
        padding-right: 20px;
    }
    #navbar {
        float: none; 
        text-align-last: center;
    }
    #logo h1{
        float: none;
        text-align-last: center;
    }
    #pages, #transl {
        z-index: -1;
    }

/* makes hidden appear on screen */

    @keyframes hidden-ani {
        from{
            right: -20%;
        }
        to{
            right: 0px;
        }
    }
    @keyframes button-ani {
        from{
            z-index: 1;
        }
        to{
            z-index: -1;
        }
    }
}