/* colour palette */
:root {
    --blue-sapphire: #166088ff;
    --aero: rgb(166, 200, 233);
    --pink-lavender: #e2b5d0ff;
    --chinese-violet: #7f4b80ff;
    --dark-purple: rgb(92, 3, 56);
}

/* html body etc */
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    font-size: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--aero);
}
header {
    position: sticky;
    top: 0;
    height: 80px;
    background-color: var(--pink-lavender);
    border-bottom: 1px solid var(--dark-purple);
}
footer {
    padding: 30px;
    background-color: var(--pink-lavender);
    border-top: 1px solid var(--dark-purple);
}

/* general classes */

.fontsize80 {
    font-size: 80%;
}

.center {
    text-align: center;
}
.current {
    /*text-decoration: underline;*/
    color: var(--chinese-violet);
    font-weight: 1500;
}

/* headings, links and top bar */

h1 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 3px;
    color: var(--dark-purple);
    font-size: 300%;
}

#top-bar a:not(.current) {
    color: var(--chinese-violet);
    font-weight: 1000;
}
.navigation-links {
    list-style-type: none;
    float: right;
    margin: 0;
    padding: 0;
}
.navigation-links li {
    display: inline-block;
    padding: 15px;
    letter-spacing: 3px;
}

.navigation-links a:hover {
    color: var(--dark-purple);
    text-decoration: underline;
}

#logo {
    padding: 15px;
    float: left;
}
#top-bar div {
    text-align: center;
}
#top-bar {
    vertical-align: middle;
    line-height: 50px;
    height: fit-content;
}

#translations {
    padding-right: 30px;
}
/* button to get to top */
#topbtn {
        /* button is hidden normally */
        display: none;

        position: fixed;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid var(--dark-purple);
        background-color: var(--pink-lavender);
        text-align: center;
        bottom: 20px;
        right: 20px;
        /* add shadow to make button stand out more */
        box-shadow: 0 0 3px 1px black;
}
#sticky {
    height: 2000px;
}  


/* make it work on mobile */

@media only screen and (max-width: 804px) {

    /* logo and navigation */
    header {
        position: unset;
        height: 166px;
    }
    #top-bar {
        line-height: normal;
    }
    #top-bar div {
        float: none;
        margin: auto;
    }
    #translations {
        padding: 0;
    }
    .navigation-links li {
        padding: 10px;
    }
    #logo {
        padding: 10px;
    }
    .section-break {
    width: 80%;
    height: 5px;
    margin: auto;
    border-top: 1px solid var(--dark-purple);
    }

    /* make button visible on tablets and mobile */ 
    #topbtn{
        display: initial;
    }
    #topbtn a {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 150%;
        font-weight: bolder;
        color: var(--dark-purple);
    }
    
}

@media only screen and (max-width: 345px) {
    header {
        position: unset;
        height: 211px;
    }
    #translations {
        padding: 0;
    }
}



